In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Create an empty dataframe

In [2]:
import pandas as pd

df = pd.DataFrame(columns=['A', 'B', 'C', 'D', 'E'])
df.columns
df

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

## Rename dataframe

In [3]:
df.rename(columns={'A': 'E', 'E': 'A'}, inplace=True)
df

Empty DataFrame
Columns: [E, B, C, D, A]
Index: []

## List to dataframe

In [36]:
l = ['a', 'b', 'c']
df = pd.DataFrame(l, columns=['column_1'])
df

  column_1
0        a
1        b
2        c

### insert a row

In [37]:
df.loc[3] = [1]; df

  column_1
0        a
1        b
2        c
3        1

In [38]:
df = df.append({'column_1' : 'hi' }, ignore_index=True); df

  column_1
0        a
1        b
2        c
3        1
4       hi