In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Create an empty dataframe

In [14]:
import pandas as pd

df = pd.DataFrame(columns=['A', 'B', 'C', 'D', 'E'])
df.columns
df

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

## Rename dataframe

In [15]:
df.rename(columns={'A': 'E', 'E': 'A'}, inplace=True)
df

Empty DataFrame
Columns: [E, B, C, D, A]
Index: []