In [2]:
import pandas as pd
df = pd.DataFrame({'col1':list("abc"),'col2':list('xyz')})
df

  col1 col2
0    a    x
1    b    y
2    c    z

In [18]:
df2 = pd.DataFrame(columns=['joint', 'id'])
df2['joint'] = df['col1'].str.upper() + '/' + df['col2']
df2

  joint   id
0   A/x  NaN
1   B/y  NaN
2   C/z  NaN