In [65]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
l = ['a', 'b', 'c']

In [2]:
l.index('a')

0

In [7]:
import numpy as np

a = np.arange(4).reshape(1, 4)
a

array([[0, 1, 2, 3]])

In [9]:
a[0]

array([0, 1, 2, 3])

In [10]:
a[0][2]

2

In [25]:
import pandas as pd

df_gt = pd.DataFrame(columns=['fname', 'cat'])
df_gt

Empty DataFrame
Columns: [fname, cat]
Index: []

In [85]:
df_gt = pd.DataFrame({'fname':A, 'cat':['A']*len(A)})
df_gt = df_gt.append(pd.DataFrame({'fname':B, 'cat':['B']*len(B)}))
df_gt = df_gt.append(pd.DataFrame({'fname':C, 'cat':['C']*len(C)}))
df_gt = df_gt.append(pd.DataFrame({'fname':D, 'cat':['D']*len(D)}))
df_gt = df_gt.append(pd.DataFrame({'fname':E, 'cat':['E']*len(E)}))
df_gt = df_gt.append(pd.DataFrame({'fname':F, 'cat':['F']*len(F)}))
df_gt = df_gt.append(pd.DataFrame({'fname':G, 'cat':['G']*len(G)}))
df_gt = df_gt.append(pd.DataFrame({'fname':L, 'cat':['L']*len(L)}))
df_gt = df_gt.append(pd.DataFrame({'fname':K, 'cat':['K']*len(K)}))
df_gt = df_gt.append(pd.DataFrame({'fname':M, 'cat':['M']*len(M)}))
df_gt = df_gt.append(pd.DataFrame({'fname':S, 'cat':['S']*len(S)}))
df_gt = df_gt.append(pd.DataFrame({'fname':none, 'cat':[None]*len(none)}))
df_gt = df_gt.reset_index(drop=True)
len(df_gt)
df_gt.head()
df_gt.tail()

102

  cat             fname
0   A  E000306NE04B.jpg
1   A  E000463NE04B.jpg
2   A  E000757NE04B.jpg
3   A  E000861NE02B.jpg
4   A  E001230NE04B.jpg

      cat              fname
97   None   E000744NE02B.jpg
98   None   E000002NE03B.jpg
99   None   E000142NE06B.jpg
100  None  TC003505NE02B.jpg
101  None   E001862NE04B.jpg

In [86]:
df_gt.sort_values('fname', inplace=True)
df_gt.head()
df_gt.tail()

     cat             fname
70  None  C000195NE05B.jpg
54  None  C000387NE05B.jpg
61  None  C000391NE03B.jpg
51  None  C000424NE07B.jpg
63  None  C000555NE02B.jpg

     cat              fname
21     C  TE001525NE02B.jpg
30     E  TE001742NE04B.jpg
38     F  TE002634NE03B.jpg
31     E  TE002662NE02B.jpg
69  None  TE002667NE02B.jpg

In [87]:
import os

path = '/data/home/chyam/git/mini_dev_set/handwritten/'

df_gt['fname'] = path + df_gt['fname']
df_gt.head()
df_gt.tail()

     cat                                              fname
70  None  /data/home/chyam/git/mini_dev_set/handwritten/...
54  None  /data/home/chyam/git/mini_dev_set/handwritten/...
61  None  /data/home/chyam/git/mini_dev_set/handwritten/...
51  None  /data/home/chyam/git/mini_dev_set/handwritten/...
63  None  /data/home/chyam/git/mini_dev_set/handwritten/...

     cat                                              fname
21     C  /data/home/chyam/git/mini_dev_set/handwritten/...
30     E  /data/home/chyam/git/mini_dev_set/handwritten/...
38     F  /data/home/chyam/git/mini_dev_set/handwritten/...
31     E  /data/home/chyam/git/mini_dev_set/handwritten/...
69  None  /data/home/chyam/git/mini_dev_set/handwritten/...

In [67]:
set(df_gt['fname']) - set(fname)

set()

In [70]:
diff= set(fname) - set(df_gt['fname'])
len(diff)

53

In [69]:
len(fname)

102

In [71]:
A = ['E000306NE04B.jpg', 'E000463NE04B.jpg', 'E000757NE04B.jpg', 'E000861NE02B.jpg', 'E001230NE04B.jpg',
     'E001236NE05B.jpg', 'E001578NE04B.jpg', 'E001708NE02B.jpg', 'TE001305NE03B.jpg', 'TE001426NE03B.jpg']

B = ['E000704NE05B.jpg', 'TE000512NE04B.jpg']

C = ['E000014NE03B.jpg', 'E000022NE06B.jpg', 'E000033NE04B.jpg', 'E000382NE02B.jpg', 'E000484NE07B.jpg',
     'E002283NE04B.jpg', 'E003232NE05B.jpg', 'TE000544NE04B.jpg', 'TE000882NE05B.jpg', 'TE001525NE02B.jpg']

D = ['E000379NE02B.jpg']

E = ['E000026NE05B.jpg', 'E000289NE04B.jpg', 'E000891NE02B.jpg', 'E001180NE02B.jpg', 'E001217NE05B.jpg',
     'E001424NE05B.jpg', 'TE000838NE02B.jpg', 'TE001742NE04B.jpg', 'TE002662NE02B.jpg']

F = ['E000116NE04B.jpg', 'E000413NE07B.jpg', 'E000481NE02B.jpg', 'E001109NE04B.jpg', 'E006309NE04B.jpg', 'TE000526NE06B.jpg',
     'TE002634NE03B.jpg']

G = []

L = []

X = ['E000056NE04B.jpg']

H = ['E000663NE03B.jpg', 'E000676NE06B.jpg', 'E000697NE06B.jpg', 'E002074NE06B.jpg', 'TE002667NE02B.jpg']

K = ['E000163NE01B.jpg', 'E000331NE02B.jpg', 'E000373NE01B.jpg', 'E000494NE07B.jpg', 'E000818NE03B.jpg']

M = ['E000001NE07B.jpg', 'E000317NE06B.jpg', 'E000486NE07B.jpg', 'E000642NE05B.jpg', 'E001834NE06B.jpg']

S = []

K_wrong_naming = ['E000382NE02F.jpg']

none = list(set(fname) - set(df_gt['fname']))

In [46]:
fname = ['C001852NE04B.jpg',
 'C000391NE03B.jpg',
 'TC000886NE06B.jpg',
 'E000289NE04B.jpg',
 'E000494NE07B.jpg',
 'E000413NE07B.jpg',
 'TE002667NE02B.jpg',
 'C002147NE03B.jpg',
 'E000314NE02B.jpg',
 'E000116NE04B.jpg',
 'E000306NE04B.jpg',
 'E000163NE01B.jpg',
 'TC003505NE02B.jpg',
 'E000818NE03B.jpg',
 'E000891NE02B.jpg',
 'E000663NE03B.jpg',
 'C001233NE03B.jpg',
 'C001698NE05B.jpg',
 'E000331NE02B.jpg',
 'E001637NE02B.jpg',
 'TE000526NE06B.jpg',
 'E000014NE03B.jpg',
 'E000373NE01B.jpg',
 'C002215NE02B.jpg',
 'E000120NE02B.jpg',
 'E000317NE06B.jpg',
 'C001058NE01B.jpg',
 'C002113NE07B.jpg',
 'E000642NE05B.jpg',
 'E001109NE04B.jpg',
 'E000056NE04B.jpg',
 'E000486NE07B.jpg',
 'C002107NE02B.jpg',
 'C000555NE02B.jpg',
 'C000643NE06B.jpg',
 'C001812NE04B.jpg',
 'TE001525NE02B.jpg',
 'E001578NE04B.jpg',
 'E000001NE07B.jpg',
 'E000382NE02B.jpg',
 'E000002NE03B.jpg',
 'E006309NE04B.jpg',
 'TE001426NE03B.jpg',
 'TE000512NE04B.jpg',
 'E000399NE02B.jpg',
 'E000704NE05B.jpg',
 'E000481NE02B.jpg',
 'E001708NE02B.jpg',
 'TE000882NE05B.jpg',
 'TE001305NE03B.jpg',
 'C002355NE02B.jpg',
 'C000424NE07B.jpg',
 'E000463NE04B.jpg',
 'E001862NE04B.jpg',
 'E000676NE06B.jpg',
 'C001844NE04B.jpg',
 'C001543NE02B.jpg',
 'C001509NE04B.jpg',
 'C002610NE03B.jpg',
 'C002197NE04B.jpg',
 'E000022NE06B.jpg',
 'E003232NE05B.jpg',
 'C001124NE03B.jpg',
 'TE000838NE02B.jpg',
 'E002283NE04B.jpg',
 'C002042NE02B.jpg',
 'C000195NE05B.jpg',
 'TE001742NE04B.jpg',
 'C001200NE04B.jpg',
 'TE000544NE04B.jpg',
 'C001860NE01B.jpg',
 'C000387NE05B.jpg',
 'C000806NE04B.jpg',
 'E002074NE06B.jpg',
 'E000379NE02B.jpg',
 'E001424NE05B.jpg',
 'E000484NE07B.jpg',
 'E002337NE04B.jpg',
 'C003975NE06B.jpg',
 'TE002634NE03B.jpg',
 'E000026NE05B.jpg',
 'E001834NE06B.jpg',
 'C000595NE02B.jpg',
 'E001217NE05B.jpg',
 'E000275NE06B.jpg',
 'E002225NE05B.jpg',
 'E000033NE04B.jpg',
 'E002347NE04B.jpg',
 'E000697NE06B.jpg',
 'E000142NE06B.jpg',
 'E001180NE02B.jpg',
 'C001191NE06B.jpg',
 'TE002662NE02B.jpg',
 'E000861NE02B.jpg',
 'E001230NE04B.jpg',
 'E001838NE06B.jpg',
 'E001236NE05B.jpg',
 'TC000934NE05B.jpg',
 'C002111NE07B.jpg',
 'TC000832NE01B.jpg',
 'E000744NE02B.jpg',
 'E000757NE04B.jpg']

In [ ]:
'/data/home/chyam/git/mini_dev_set/handwritten/C001233NE03B.jpg'

'/data/home/chyam/git/mini_dev_set/handwritten/E000704NE05B.jpg'

'/data/home/chyam/git/mini_dev_set/handwritten/E000481NE02B.jpg'

'/data/home/chyam/git/mini_dev_set/handwritten/E001862NE04B.jpg'

'/data/home/chyam/git/mini_dev_set/handwritten/C001124NE03B.jpg'

'/data/home/chyam/git/mini_dev_set/handwritten/C000195NE05B.jpg'

'/data/home/chyam/git/mini_dev_set/handwritten/C001200NE04B.jpg'

'/data/home/chyam/git/mini_dev_set/handwritten/TE000544NE04B.jpg'

	fname 	cat 	cat_gt 	is_equal
16 	/data/home/chyam/git/mini_dev_set/handwritten/... 	A 	None 	False
45 	/data/home/chyam/git/mini_dev_set/handwritten/... 	C 	B 	False
46 	/data/home/chyam/git/mini_dev_set/handwritten/... 	None 	F 	False
53 	/data/home/chyam/git/mini_dev_set/handwritten/... 	A 	None 	False
62 	/data/home/chyam/git/mini_dev_set/handwritten/... 	C 	None 	False
66 	/data/home/chyam/git/mini_dev_set/handwritten/... 	E 	None 	False
68 	/data/home/chyam/git/mini_dev_set/handwritten/... 	L 	None 	False
69 	/data/home/chyam/git/mini_dev_set/handwritten/... 	A 	C 	False