# List

## Finding unique elements in a list using `set`

In [1]:
l = ['a', 'b', 'c', 'a']
unique = set(l)
unique # of type `set`

{'a', 'b', 'c'}

In [2]:
list(unique) # convert type `set` to type `list`

['b', 'a', 'c']

## Appending a list

In [3]:
l_appended = []
l_appended.append(l)
print(l_appended)
l_appended.append(l)
print(l_appended)

[['a', 'b', 'c', 'a']]
[['a', 'b', 'c', 'a'], ['a', 'b', 'c', 'a']]

In [4]:
print(l)
l2 = ['a','b']
l_in = l2[0] in l
l_in

['a', 'b', 'c', 'a']

True

## Write a `list` to `csv` file

In [5]:
import csv

In [6]:
with open('./output/list_to_csv.tsv', 'w') as f:
    wr = csv.writer(f, delimiter='\t')
    wr.writerow(l)

## Write a `list` of `list`s to `csv` file

In [7]:
ll = [l,l,l]
ll

[['a', 'b', 'c', 'a'], ['a', 'b', 'c', 'a'], ['a', 'b', 'c', 'a']]

In [8]:
with open('./output/list_of_list_to_csv.tsv', 'w', newline='') as f:
    writer = csv.writer(f, delimiter='\t')
    writer.writerows(ll)

## Write a `string` to `csv` file

In [9]:
string = ['hello']
with open('./output/string_to_csv.tsv', 'w', newline='') as f:
    writer = csv.writer(f)
    for i in range(5):
        writer.writerow(string)

## `list` of `lists` to `DataFrame`

In [10]:
import pandas as pd
df = pd.DataFrame(ll)
df

   0  1  2  3
0  a  b  c  a
1  a  b  c  a
2  a  b  c  a

## `list` of `lists` to DataFrame, setting a specific column as `index`

In [11]:
data=[['Australia',100],['France',200],['Germany',300],['America',400]]; print(data)
pd.DataFrame(data,columns=['Country','Volume']).set_index('Country')

[['Australia', 100], ['France', 200], ['Germany', 300], ['America', 400]]

           Volume
Country
Australia     100
France        200
Germany       300
America       400

## 2 lists to a list of tuple

In [12]:
l

['a', 'b', 'c', 'a']

In [15]:
list(zip(l,l))

[('a', 'a'), ('b', 'b'), ('c', 'c'), ('a', 'a')]