# Dataframe Description

[Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [1]:
import pandas as pd
df = pd.read_csv("./data/iris-with-header.tsv", delimiter='\t')
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.size

750

In [7]:
row, col = df.shape
print(row, col)

150 5

In [8]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000


**Function	Description**
- `count` Number of non-null observations
- `sum`	Sum of values
- `mean`	Mean of values
- `mad`	Mean absolute deviation
- `median`	Arithmetic median of values
- `min`	Minimum
- `max`	Maximum
- `mode`	Mode
- `abs`	Absolute Value
- `prod`	Product of values
- `std`	Bessel-corrected sample standard deviation
- `var`	Unbiased variance
- `sem`	Standard error of the mean
- `skew`	Sample skewness (3rd moment)
- `kurt` Sample kurtosis (4th moment)
- `quantile`	Sample quantile (value at %)
- `cumsum`	Cumulative sum
- `cumprod`	Cumulative product
- `cummax`	Cumulative maximum
- `cummin`	Cumulative minimum

In [ ]:
# More examples