In [54]:
import pandas as pd
df = pd.DataFrame({'col1':list("abc"),'col2':range(3)})

In [55]:
df

  col1  col2
0    a     0
1    b     1
2    c     2

In [56]:
df = df.append([df]*2,ignore_index=True)
df

  col1  col2
0    a     0
1    b     1
2    c     2
3    a     0
4    b     1
5    c     2
6    a     0
7    b     1
8    c     2

In [57]:
df.sort_values(by='col1', inplace=True)
df

  col1  col2
0    a     0
3    a     0
6    a     0
1    b     1
4    b     1
7    b     1
2    c     2
5    c     2
8    c     2

In [58]:
df.reset_index(drop=True, inplace=True)
df

  col1  col2
0    a     0
1    a     0
2    a     0
3    b     1
4    b     1
5    b     1
6    c     2
7    c     2
8    c     2

In [60]:
sub_id = [s for s in range(0,3)]*3
sub_id

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [61]:
df2 = pd.concat([df, pd.DataFrame(sub_id)], axis=1)
df2

  col1  col2  0
0    a     0  0
1    a     0  1
2    a     0  2
3    b     1  0
4    b     1  1
5    b     1  2
6    c     2  0
7    c     2  1
8    c     2  2