### Generate `DatetimeIndex` within a date range

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd

date_indexes = pd.date_range('1/1/2011', periods=10, freq='D')

In [ ]:
date_indexes

In [ ]:
type(date_indexes)

### Converting `Datetime` indexes to DataFrame

In [ ]:
df_dates = pd.DataFrame(date_indexes)
df_dates.head()

In [ ]:
df_dates.sample(n=5)

### Convert to `datetime`, if not in that format

In [ ]:
df_dates.columns = ['dates']
df_dates.head()
type(df_dates['dates'].values)
df_dates['dates'].iloc[0]

In [ ]:
df_dates['dates'] = pd.to_datetime(df_dates['dates'])
df_dates.head()
type(df_dates['dates'].iloc[0])

### Selecting rows within a `Datetime` range
!! ** AMERICAN FORMAT ** !!

In [ ]:
start_date = '03-01-2011'
end_date = '06-01-2011'

mask = (df_dates['dates'] > start_date) & (df_dates['dates'] <= end_date)
mask

In [ ]:
start_date = '01-03-2011'
end_date = '01-06-2011'

mask = (df_dates['dates'] > start_date) & (df_dates['dates'] <= end_date)
mask

In [ ]:
df_dates.dates[mask]

In [ ]:
df_dates_filtered = df_dates[mask]
df_dates_filtered

### Add n days to date

In [ ]:
df_dates['dates2'] = df_dates['dates'] + pd.DateOffset(days=365)
df_dates

### Faker

In [ ]:
from faker import Faker
fake = Faker()

fake.date_between(start_date=df_dates['dates'].iloc[0], end_date=df_dates['dates'].iloc[0]sam)

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
import numpy as np
df_dates['random'] = np.random.randint(0,10, len(df_dates))
df_dates

In [ ]:
df_dates.groupby('random').apply(lambda x: x > 3)
df_dates[df_dates.groupby('random').apply(lambda x: x > 3)]

In [ ]:
this_date = '01-06-2012'

df_dates.groupby('random').apply(lambda x: x['dates2'] > this_date)

In [ ]:
start_date = '01-03-2012'
end_date = '01-06-2012'

df_dates
df_dates.groupby('random').apply(lambda x: (x['dates2'] > start_date))
df_dates.groupby('random').apply(lambda x: (x['dates2'] > start_date) & (x['dates2'] < end_date))

In [ ]:
df_dates

In [18]:
--------------------------------------------------------------------------------------------------------------------------------

SyntaxError: invalid syntax (<ipython-input-18-7f0410bf5b5d>, line 1)

In [19]:
import numpy as np

df = pd.DataFrame(np.random.randint(0,2, 10), columns=['id'])
df = df.sort_values('id')
df

   id
0   0
1   0
2   0
3   0
5   0
7   0
8   0
9   0
4   1
6   1

In [20]:
df2 = pd.DataFrame(date_indexes)
df2.head
df['date'] = df2
df

<bound method NDFrame.head of            0
0 2011-01-01
1 2011-01-02
2 2011-01-03
3 2011-01-04
4 2011-01-05
5 2011-01-06
6 2011-01-07
7 2011-01-08
8 2011-01-09
9 2011-01-10>

   id       date
0   0 2011-01-01
1   0 2011-01-02
2   0 2011-01-03
3   0 2011-01-04
5   0 2011-01-06
7   0 2011-01-08
8   0 2011-01-09
9   0 2011-01-10
4   1 2011-01-05
6   1 2011-01-07

In [38]:
df2.sample(n=1, random_state=8)

           0
8 2011-01-09

In [47]:
end_date = df2.sample(n=1, random_state=8); print(end_date)
type(end_date)
start_date = end_date[0] + pd.DateOffset(days=2); print(start_date)

df
#df.groupby('id').apply(lambda x: (x['date'] > start_date))
#df.groupby('id').apply(lambda x: (x['date'] > start_date) & (x['date'] < end_date))
mask = df.groupby('id').apply(lambda x: (x['date'] > start_date) & (x['date'] < end_date))
mask

           0
8 2011-01-09

pandas.core.frame.DataFrame

8   2011-01-11
Name: 0, dtype: datetime64[ns]

   id       date
0   0 2011-01-01
1   0 2011-01-02
2   0 2011-01-03
3   0 2011-01-04
5   0 2011-01-06
7   0 2011-01-08
8   0 2011-01-09
9   0 2011-01-10
4   1 2011-01-05
6   1 2011-01-07

ValueError: Can only compare identically-labeled Series objects

In [48]:
type(start_date)

pandas.core.series.Series

In [30]:
start_date = '01-03-2011'
end_date = '01-06-2011'

df
#df.groupby('id').apply(lambda x: (x['date'] > start_date))
#df.groupby('id').apply(lambda x: (x['date'] > start_date) & (x['date'] < end_date))
mask = df.groupby('id').apply(lambda x: (x['date'] > start_date) & (x['date'] < end_date))
mask

   id       date
0   0 2011-01-01
1   0 2011-01-02
2   0 2011-01-03
3   0 2011-01-04
5   0 2011-01-06
7   0 2011-01-08
8   0 2011-01-09
9   0 2011-01-10
4   1 2011-01-05
6   1 2011-01-07

id
0   0    False
    1    False
    2    False
    3     True
    5    False
    7    False
    8    False
    9    False
1   4     True
    6    False
Name: date, dtype: bool

In [31]:
mask.reset_index(inplace=True, drop=True)
mask

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
Name: date, dtype: bool

In [32]:
df
df[mask]

   id       date
0   0 2011-01-01
1   0 2011-01-02
2   0 2011-01-03
3   0 2011-01-04
5   0 2011-01-06
7   0 2011-01-08
8   0 2011-01-09
9   0 2011-01-10
4   1 2011-01-05
6   1 2011-01-07

/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

   id       date
3   0 2011-01-04
8   0 2011-01-09