In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({
'Buyer': ['Carl', 'Carl', 'Carl'],
'Quantity': [18, 3, 5, ]})

df2 = pd.DataFrame({
'Buyer': ['Carl', 'Mark', 'Carl', 'Carl'],
'Quantity': [2, 1, 18, 5]})

In [8]:
df1
df2

  Buyer  Quantity
0  Carl        18
1  Carl         3
2  Carl         5

  Buyer  Quantity
0  Carl         2
1  Mark         1
2  Carl        18
3  Carl         5

In [10]:
merged = df1.merge(df2, indicator=True, how='outer')

In [11]:
merged

  Buyer  Quantity      _merge
0  Carl        18        both
1  Carl         3   left_only
2  Carl         5        both
3  Carl         2  right_only
4  Mark         1  right_only

In [13]:
merged['_merge'] != 'both'

0    False
1     True
2    False
3     True
4     True
Name: _merge, dtype: bool

In [15]:
df = merged[merged['_merge'] != 'both']
df

  Buyer  Quantity      _merge
1  Carl         3   left_only
3  Carl         2  right_only
4  Mark         1  right_only